*{
	margin: 0;
	padding: 0;
}
.card-front{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(rgba(70,0,0,0.6),rgba(70,0,0,0.6)),url(bg1.jpg);
	padding: 55px;
	box-sizing: border-box;
	backface-visibility: hidden;
}
.card-front, h2{
	color: white;
}
.input-box{
	background-color: transparent;
  text-align: center;
  margin: 35px 1% 10px;
  color: white;
  border-color: white;
}
::placeholder{
	color: #fff;
	font-size: 12px;

}
.Titulo{
	background-color: transparent;
  color: whitesmoke;
  padding: 10px 50px;
  text-align: center;
  margin: 35px 1% 10px;
  border-color: white;
}
.Video{
  margin: 35px 1% 10px;
}
a:link{
  background-color: white;
  border: 2px solid red;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 35px 0 10px;

}
a:hover{
  background-color: transparent;
  color: white;
}