{% extends 'base.html' %}

{% block content %}
{% load static %}
<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete "{{item}}"?</p>

			<form action="{% url 'delete_tula' item.id  %}" method="POST">
				
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'TitikEnterprise' %}">No</a><br>
				

				<input class="btn btn-danger" type="submit" name="Confirm">
				<label>Confirm</label>
			</form>
		</div>
	</div>
</div>
{% endblock %}
		

