{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
*{
	margin: 0;
	padding: 0;
}
.Loob{
	width: 100%;
	height: 100vh;
	font-family: sans-serif;
	background: linear-gradient(rgba(200,0,0,0.6),rgba(150,0,0,0.6));
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dan{
	background-color: transparent;
  	border: 2px solid red;
  	padding: 10px 50px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 35px 50px 30px;
}
.dan:hover{
  background-color: red;
  color: white;
} 
.Gitna{
	width: 350px;
	height: 500px;
	box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
	perspective: 1000px;
}
.inner-box{
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 1s;
}
.Harap{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(rgba(100,0,0,0.6),rgba(100,0,0,0.6)),url({% static '/css/bg1.jpg' %});
	padding: 55px;
	box-sizing: border-box;
	backface-visibility: hidden;
}
.Gitna h2{
	font-weight: normal;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
}
.input-box{
	width: 100%;
	background: transparent;
	border: 1px solid #fff;
	margin: 6px 0;
	height: 32px;
	border-radius: 20px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	text-align: center;
	color: #fff;
}
.input-box1{
	width: 32px;
	margin-left: 65px;
	margin-top: 10px;
	height: 15px;
	position: relative;
}
.input-box2{
	margin-top: 20px;
	margin-bottom: 20px;
}
::placeholder{
	color: #fff;
	font-size: 12px;

}	
</style>
<form method="POST" action="SecondPage">
	
	{% csrf_token %}	

		<div class="Loob">
<div class="Gitna">
<div class="inner-box" id="Gitna">
<div class="Harap">
	<h2>Information</h2>

		<input id="name" name="name" type="text" class="input-box" placeholder="Name">
		<input id="email" name="email" type="email" class="input-box" placeholder="Email" required><br>
  		<p1>Birthday: </p1><input id="birthday" name="birthday" type="date" class="input-box2" required>
  		<input id="gender" name="gender" type="radio" class="input-box1" value="Male"required> Male<br>
  		<input id="gender" name="gender" type="radio" class="input-box1" value="Female"required> Female<br>

	
<input type="submit" value="Done" class="dan">
</div>
</div>
</div>
</div>

		</form>


{% endblock %}
		


