{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
*{
	color: white;
	padding: 2px 10px 10px;
}
body {
  background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url({% static '/css/bg1.jpg' %});
}
pre{
	text-align: left;
	font-size: 30px;
}
h1{
	position: relative;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: transparent;
}
</style>
					
<br>
<br>
<br>
	<table style="width: 100%" class="table table-sm">
				<tr>
					<th>Person</th>
					<th>Book Donation</th>
					<th>Proof of transaction</th>
					<th>Quantity</th>
					<th>Date</th>
					
				</tr>



				{% for pinong in lawrence%}
					<tr>
						<td><a href="{% url 'person' pinong.id %}">view</td>
						<td>{{ pinong.messagebox }}</td>
						<td>{{ pinong.book_donation }}</td>
						<td>{{ pinong.integer }}</td>
						<td>{{ pinong.date1 }}</td>
					</tr>
				{% endfor %}

			</table>

{% endblock %}
</html>