{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
	*{
	margin: 0;
	padding: 0;
}
.Harap{
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(rgba(50,0,0,0.6),rgba(20,0,0,0.6)),url({% static '/css/Bookdonate.jpeg' %});
	padding: 55px;
	box-sizing: border-box;
	backface-visibility: hidden;
}
.Harap, h2{
	color: white;
}
.Mensahe{
	width: 20%;
	height: 20%;
	box-sizing: border-box;
	background: transparent;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}
.input-box{
	width: 12%;
	background: transparent;
	border: 1px solid #fff;
	margin: 6px 0;
	height: 32px;
	border-radius: 20px;
	padding: 0 10px;
	box-sizing: border-box;
	outline: none;
	text-align: center;
	color: #fff;
}
::placeholder{
	color: #fff;
	font-size: 12px;

}
a:link{
  background-color: white;
  border: 2px solid red;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 35px 0 10px;

}
a:hover{
  background-color: transparent;
  color: white;
}
</style>
<div class="Harap">
	<h2>Donate Now!</h2>
	<form>
		<input type="file" class="Video" placeholder="Performance" required>
		<p>Message Box</p>
		<textarea id="Mensahe" class="Mensahe" rows="10" cols="50" placeholder="Message"></textarea><br>
		<label for="quantity">Quantity (between 1 and 100):</label>
  		<input type="number" id="quantity" name="quantity" min="1" max="100"><br>
  		<input type="date" class="input-box" id="datemax">
	</form>
	<a href="Mainpage.html">Done
</div>
</div>
</div>
</div>

{% endblock %}
